USE [master]
GO
/****** Object:  Database [IceCreamManagement]    Script Date: 30-Apr-26 10:22:43 AM ******/
CREATE DATABASE [IceCreamManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IceCreamManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IceCreamManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IceCreamManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IceCreamManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IceCreamManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IceCreamManagement]
GO
/****** Object:  Table [dbo].[ice_creams]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ice_creams](
	[ice_cream_id] [int] IDENTITY(1,1) NOT NULL,
	[ice_cream_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ice_cream_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_orders]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_orders](
	[production_order_id] [int] IDENTITY(1,1) NOT NULL,
	[ice_cream_id] [int] NOT NULL,
	[planned_output_kg] [decimal](18, 3) NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](0) NOT NULL,
	[order_status] [nvarchar](30) NOT NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[production_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_stages]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_stages](
	[stage_id] [int] IDENTITY(1,1) NOT NULL,
	[stage_name] [nvarchar](100) NOT NULL,
	[sequence_order] [int] NOT NULL,
	[standard_time_minutes] [decimal](10, 2) NULL,
	[is_proportional] [bit] NULL,
	[planned_duration_seconds] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[stage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_tracking]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_tracking](
	[tracking_id] [int] IDENTITY(1,1) NOT NULL,
	[production_order_id] [int] NOT NULL,
	[stage_id] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[actual_start_time] [datetime] NULL,
	[actual_end_time] [datetime] NULL,
	[actual_quantity] [decimal](18, 3) NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[tracking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_ProductionSummary]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. Tạo View mới với đầy đủ cột
CREATE VIEW [dbo].[View_ProductionSummary] AS
SELECT 
    po.production_order_id, 
    ice.ice_cream_name AS product_name, 
    COUNT(s.stage_id) AS total_stages, -- Code Java đang tìm cột này
    SUM(CASE WHEN pt.status = 'completed' THEN 1 ELSE 0 END) AS completed_stages,
    (CAST(SUM(CASE WHEN pt.status = 'completed' THEN 1 ELSE 0 END) AS FLOAT) / COUNT(s.stage_id)) * 100 AS progress_percent,
    
    -- Lấy công đoạn đang chạy
    (SELECT TOP 1 s2.stage_name 
     FROM dbo.production_tracking pt2 
     JOIN dbo.production_stages s2 ON pt2.stage_id = s2.stage_id 
     WHERE pt2.production_order_id = po.production_order_id AND pt2.status = 'in_progress'
     ORDER BY s2.sequence_order ASC) AS current_stage,
     
    -- Lấy công đoạn bị lỗi
    (SELECT TOP 1 s3.stage_name 
     FROM dbo.production_tracking pt3 
     JOIN dbo.production_stages s3 ON pt3.stage_id = s3.stage_id 
     WHERE pt3.production_order_id = po.production_order_id AND pt3.status = 'failed'
     ORDER BY s3.sequence_order ASC) AS failed_stage
FROM dbo.production_orders po
JOIN dbo.production_tracking pt ON po.production_order_id = pt.production_order_id
JOIN dbo.production_stages s ON pt.stage_id = s.stage_id
JOIN dbo.ice_creams ice ON po.ice_cream_id = ice.ice_cream_id
GROUP BY po.production_order_id, ice.ice_cream_name;
GO
/****** Object:  Table [dbo].[dispatch_history]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dispatch_history](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[production_order_id] [int] NOT NULL,
	[product_name] [nvarchar](200) NOT NULL,
	[quantity_issued] [decimal](18, 2) NOT NULL,
	[mfg_date] [datetime] NULL,
	[exp_date] [datetime] NULL,
	[dispatch_date] [datetime] NULL,
	[customer_name] [nvarchar](200) NULL,
	[quality_status] [nvarchar](100) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[finished_inventory]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[finished_inventory](
	[ice_cream_id] [int] NOT NULL,
	[quantity_on_hand] [decimal](18, 3) NOT NULL,
	[last_updated] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ice_cream_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[finished_product_inventory]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[finished_product_inventory](
	[inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[production_po_code] [nvarchar](50) NULL,
	[product_name] [nvarchar](200) NOT NULL,
	[current_quantity] [decimal](18, 3) NOT NULL,
	[mfg_date] [datetime2](0) NULL,
	[exp_date] [datetime2](0) NULL,
	[storage_location] [nvarchar](100) NULL,
	[production_order_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[finished_stock_receipts]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[finished_stock_receipts](
	[finished_stock_receipt_id] [int] IDENTITY(1,1) NOT NULL,
	[finished_stock_request_id] [int] NOT NULL,
	[approved_by] [int] NULL,
	[received_quantity] [decimal](18, 3) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[finished_stock_receipt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[finished_stock_requests]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[finished_stock_requests](
	[finished_stock_request_id] [int] IDENTITY(1,1) NOT NULL,
	[production_order_id] [int] NOT NULL,
	[requested_by] [int] NULL,
	[requested_quantity] [decimal](18, 3) NOT NULL,
	[requested_at] [datetime2](0) NOT NULL,
	[request_status] [nvarchar](30) NOT NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[finished_stock_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredient_export_receipt_details]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredient_export_receipt_details](
	[ingredient_export_receipt_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[ingredient_export_receipt_id] [int] NOT NULL,
	[ingredient_export_request_detail_id] [int] NOT NULL,
	[lot_id] [int] NOT NULL,
	[issued_quantity] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ingredient_export_receipt_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredient_export_receipts]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredient_export_receipts](
	[ingredient_export_receipt_id] [int] IDENTITY(1,1) NOT NULL,
	[ingredient_export_request_id] [int] NOT NULL,
	[approved_by] [int] NULL,
	[created_at] [datetime2](0) NOT NULL,
	[receipt_status] [nvarchar](30) NOT NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ingredient_export_receipt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredient_export_request_details]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredient_export_request_details](
	[ingredient_export_request_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[ingredient_export_request_id] [int] NOT NULL,
	[ingredient_id] [int] NOT NULL,
	[required_quantity] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ingredient_export_request_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredient_export_requests]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredient_export_requests](
	[ingredient_export_request_id] [int] IDENTITY(1,1) NOT NULL,
	[production_order_id] [int] NOT NULL,
	[requested_by] [int] NULL,
	[requested_at] [datetime2](0) NOT NULL,
	[request_status] [nvarchar](30) NOT NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ingredient_export_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredient_lots]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredient_lots](
	[lot_id] [int] IDENTITY(1,1) NOT NULL,
	[ingredient_id] [int] NOT NULL,
	[import_date] [datetime2](0) NOT NULL,
	[expiry_date] [date] NOT NULL,
	[remaining_quantity] [decimal](18, 3) NOT NULL,
	[supplier_id] [int] NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredients]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredients](
	[ingredient_id] [int] IDENTITY(1,1) NOT NULL,
	[ingredient_name] [nvarchar](100) NOT NULL,
	[origin] [nvarchar](200) NULL,
	[storage_condition] [nvarchar](255) NULL,
	[unit_id] [int] NOT NULL,
	[price_per_unit] [decimal](18, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ingredient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[issue_request_details]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[issue_request_details](
	[detail_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[product_name] [nvarchar](200) NOT NULL,
	[quantity_requested] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[issue_requests]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[issue_requests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](200) NOT NULL,
	[customer_address] [nvarchar](500) NULL,
	[customer_phone] [nvarchar](20) NULL,
	[request_date] [datetime] NULL,
	[status] [nvarchar](50) NULL,
	[created_by] [nvarchar](100) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_issue_details]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_issue_details](
	[detail_id] [int] IDENTITY(1,1) NOT NULL,
	[note_id] [int] NOT NULL,
	[ice_cream_id] [int] NOT NULL,
	[quantity] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_issue_notes]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_issue_notes](
	[note_id] [int] IDENTITY(1,1) NOT NULL,
	[saleman_id] [int] NOT NULL,
	[customer_name] [nvarchar](200) NOT NULL,
	[customer_order_code] [nvarchar](50) NULL,
	[delivery_date] [datetime2](0) NULL,
	[status] [nvarchar](50) NULL,
	[note] [nvarchar](max) NULL,
	[create_date] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[note_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipes]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes](
	[recipe_id] [int] IDENTITY(1,1) NOT NULL,
	[ice_cream_id] [int] NOT NULL,
	[ingredient_id] [int] NOT NULL,
	[quantity_per_kg] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[recipe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [nvarchar](200) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[address] [nvarchar](255) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[units]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[units](
	[unit_id] [int] IDENTITY(1,1) NOT NULL,
	[unit_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 30-Apr-26 10:22:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[password_hash] [nvarchar](255) NULL,
	[role_id] [int] NULL,
	[must_change_password] [bit] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dispatch_history] ON 

INSERT [dbo].[dispatch_history] ([history_id], [request_id], [production_order_id], [product_name], [quantity_issued], [mfg_date], [exp_date], [dispatch_date], [customer_name], [quality_status], [notes]) VALUES (1, 1, 16, N'Matcha Ice Cream', CAST(34.00 AS Decimal(18, 2)), CAST(N'2026-04-29T23:31:12.000' AS DateTime), CAST(N'2026-05-29T23:31:12.000' AS DateTime), CAST(N'2026-04-30T07:56:07.213' AS DateTime), N'abc', N'Qualified', N'Approved by Warehouse')
INSERT [dbo].[dispatch_history] ([history_id], [request_id], [production_order_id], [product_name], [quantity_issued], [mfg_date], [exp_date], [dispatch_date], [customer_name], [quality_status], [notes]) VALUES (2, 2, 16, N'Matcha Ice Cream', CAST(23.00 AS Decimal(18, 2)), CAST(N'2026-04-29T23:31:12.000' AS DateTime), CAST(N'2026-05-29T23:31:12.000' AS DateTime), CAST(N'2026-04-30T08:41:32.493' AS DateTime), N'abc', N'Qualified', N'Approved by Warehouse')
INSERT [dbo].[dispatch_history] ([history_id], [request_id], [production_order_id], [product_name], [quantity_issued], [mfg_date], [exp_date], [dispatch_date], [customer_name], [quality_status], [notes]) VALUES (3, 4, 10, N'Walnut Ice Cream', CAST(24.00 AS Decimal(18, 2)), CAST(N'2026-04-29T14:41:40.000' AS DateTime), CAST(N'2026-05-29T14:41:40.000' AS DateTime), CAST(N'2026-04-30T09:29:48.230' AS DateTime), N'def', N'Qualified', N'Approved by Warehouse')
SET IDENTITY_INSERT [dbo].[dispatch_history] OFF
GO
INSERT [dbo].[finished_inventory] ([ice_cream_id], [quantity_on_hand], [last_updated]) VALUES (2, CAST(97.000 AS Decimal(18, 3)), CAST(N'2026-04-29T23:13:28.0000000' AS DateTime2))
INSERT [dbo].[finished_inventory] ([ice_cream_id], [quantity_on_hand], [last_updated]) VALUES (4, CAST(10.000 AS Decimal(18, 3)), CAST(N'2026-04-29T16:27:21.0000000' AS DateTime2))
INSERT [dbo].[finished_inventory] ([ice_cream_id], [quantity_on_hand], [last_updated]) VALUES (5, CAST(20.000 AS Decimal(18, 3)), CAST(N'2026-04-29T15:40:32.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[finished_product_inventory] ON 

INSERT [dbo].[finished_product_inventory] ([inventory_id], [production_po_code], [product_name], [current_quantity], [mfg_date], [exp_date], [storage_location], [production_order_id]) VALUES (1, N'11', N'Vanilla Ice Cream', CAST(50.000 AS Decimal(18, 3)), NULL, CAST(N'2026-06-30T00:00:00.0000000' AS DateTime2), N'Shelf A1', 11)
INSERT [dbo].[finished_product_inventory] ([inventory_id], [production_po_code], [product_name], [current_quantity], [mfg_date], [exp_date], [storage_location], [production_order_id]) VALUES (2, N'5', N'Chocolate Ice Cream', CAST(0.000 AS Decimal(18, 3)), CAST(N'2026-04-29T13:07:10.0000000' AS DateTime2), CAST(N'2026-05-29T13:07:10.0000000' AS DateTime2), N'Shelf A1', 5)
INSERT [dbo].[finished_product_inventory] ([inventory_id], [production_po_code], [product_name], [current_quantity], [mfg_date], [exp_date], [storage_location], [production_order_id]) VALUES (3, N'12', N'Chocolate Ice Cream', CAST(46.000 AS Decimal(18, 3)), CAST(N'2026-04-29T13:07:10.0000000' AS DateTime2), CAST(N'2026-05-29T13:07:10.0000000' AS DateTime2), N'Shelf A1', 12)
SET IDENTITY_INSERT [dbo].[finished_product_inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[finished_stock_receipts] ON 

INSERT [dbo].[finished_stock_receipts] ([finished_stock_receipt_id], [finished_stock_request_id], [approved_by], [received_quantity], [created_at], [note]) VALUES (1, 1, NULL, CAST(20.000 AS Decimal(18, 3)), CAST(N'2026-04-29T15:40:32.0000000' AS DateTime2), NULL)
INSERT [dbo].[finished_stock_receipts] ([finished_stock_receipt_id], [finished_stock_request_id], [approved_by], [received_quantity], [created_at], [note]) VALUES (2, 9, NULL, CAST(10.000 AS Decimal(18, 3)), CAST(N'2026-04-29T16:27:21.0000000' AS DateTime2), NULL)
INSERT [dbo].[finished_stock_receipts] ([finished_stock_receipt_id], [finished_stock_request_id], [approved_by], [received_quantity], [created_at], [note]) VALUES (3, 10, NULL, CAST(30.000 AS Decimal(18, 3)), CAST(N'2026-04-29T23:13:28.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[finished_stock_receipts] OFF
GO
SET IDENTITY_INSERT [dbo].[finished_stock_requests] ON 

INSERT [dbo].[finished_stock_requests] ([finished_stock_request_id], [production_order_id], [requested_by], [requested_quantity], [requested_at], [request_status], [note]) VALUES (1, 13, NULL, CAST(20.000 AS Decimal(18, 3)), CAST(N'2026-04-29T15:40:32.0000000' AS DateTime2), N'approved', NULL)
INSERT [dbo].[finished_stock_requests] ([finished_stock_request_id], [production_order_id], [requested_by], [requested_quantity], [requested_at], [request_status], [note]) VALUES (9, 15, NULL, CAST(10.000 AS Decimal(18, 3)), CAST(N'2026-04-29T16:27:21.0000000' AS DateTime2), N'approved', NULL)
INSERT [dbo].[finished_stock_requests] ([finished_stock_request_id], [production_order_id], [requested_by], [requested_quantity], [requested_at], [request_status], [note]) VALUES (10, 16, NULL, CAST(30.000 AS Decimal(18, 3)), CAST(N'2026-04-29T23:13:28.0000000' AS DateTime2), N'approved', NULL)
SET IDENTITY_INSERT [dbo].[finished_stock_requests] OFF
GO
SET IDENTITY_INSERT [dbo].[ice_creams] ON 

INSERT [dbo].[ice_creams] ([ice_cream_id], [ice_cream_name], [is_active]) VALUES (1, N'Vanilla Ice Cream', 1)
INSERT [dbo].[ice_creams] ([ice_cream_id], [ice_cream_name], [is_active]) VALUES (2, N'Matcha Ice Cream', 1)
INSERT [dbo].[ice_creams] ([ice_cream_id], [ice_cream_name], [is_active]) VALUES (3, N'Chocolate Ice Cream', 1)
SET IDENTITY_INSERT [dbo].[ice_creams] OFF
GO
SET IDENTITY_INSERT [dbo].[ingredient_export_receipt_details] ON 

INSERT [dbo].[ingredient_export_receipt_details] ([ingredient_export_receipt_detail_id], [ingredient_export_receipt_id], [ingredient_export_request_detail_id], [lot_id], [issued_quantity]) VALUES (1, 1, 3, 40, CAST(28.500 AS Decimal(18, 3)))
INSERT [dbo].[ingredient_export_receipt_details] ([ingredient_export_receipt_detail_id], [ingredient_export_receipt_id], [ingredient_export_request_detail_id], [lot_id], [issued_quantity]) VALUES (2, 1, 4, 43, CAST(11.400 AS Decimal(18, 3)))
INSERT [dbo].[ingredient_export_receipt_details] ([ingredient_export_receipt_detail_id], [ingredient_export_receipt_id], [ingredient_export_request_detail_id], [lot_id], [issued_quantity]) VALUES (3, 1, 2, 25, CAST(8.550 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[ingredient_export_receipt_details] OFF
GO
SET IDENTITY_INSERT [dbo].[ingredient_export_receipts] ON 

INSERT [dbo].[ingredient_export_receipts] ([ingredient_export_receipt_id], [ingredient_export_request_id], [approved_by], [created_at], [receipt_status], [note]) VALUES (1, 1, NULL, CAST(N'2026-04-28T18:15:02.0000000' AS DateTime2), N'completed', NULL)
INSERT [dbo].[ingredient_export_receipts] ([ingredient_export_receipt_id], [ingredient_export_request_id], [approved_by], [created_at], [receipt_status], [note]) VALUES (2, 2, NULL, CAST(N'2026-04-28T18:35:45.0000000' AS DateTime2), N'completed', NULL)
INSERT [dbo].[ingredient_export_receipts] ([ingredient_export_receipt_id], [ingredient_export_request_id], [approved_by], [created_at], [receipt_status], [note]) VALUES (3, 3, NULL, CAST(N'2026-04-29T14:08:45.0000000' AS DateTime2), N'completed', NULL)
SET IDENTITY_INSERT [dbo].[ingredient_export_receipts] OFF
GO
SET IDENTITY_INSERT [dbo].[ingredient_export_request_details] ON 

INSERT [dbo].[ingredient_export_request_details] ([ingredient_export_request_detail_id], [ingredient_export_request_id], [ingredient_id], [required_quantity]) VALUES (1, 1, 1, CAST(5.700 AS Decimal(18, 3)))
INSERT [dbo].[ingredient_export_request_details] ([ingredient_export_request_detail_id], [ingredient_export_request_id], [ingredient_id], [required_quantity]) VALUES (2, 1, 9, CAST(8.550 AS Decimal(18, 3)))
INSERT [dbo].[ingredient_export_request_details] ([ingredient_export_request_detail_id], [ingredient_export_request_id], [ingredient_id], [required_quantity]) VALUES (3, 1, 14, CAST(28.500 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[ingredient_export_request_details] OFF
GO
SET IDENTITY_INSERT [dbo].[ingredient_export_requests] ON 

INSERT [dbo].[ingredient_export_requests] ([ingredient_export_request_id], [production_order_id], [requested_by], [requested_at], [request_status], [note]) VALUES (1, 11, 1, CAST(N'2026-04-28T18:14:29.0000000' AS DateTime2), N'completed', N'')
INSERT [dbo].[ingredient_export_requests] ([ingredient_export_request_id], [production_order_id], [requested_by], [requested_at], [request_status], [note]) VALUES (2, 12, 1, CAST(N'2026-04-28T18:34:14.0000000' AS DateTime2), N'completed', N'')
INSERT [dbo].[ingredient_export_requests] ([ingredient_export_request_id], [production_order_id], [requested_by], [requested_at], [request_status], [note]) VALUES (3, 10, 1, CAST(N'2026-04-29T14:08:18.0000000' AS DateTime2), N'completed', N'')
SET IDENTITY_INSERT [dbo].[ingredient_export_requests] OFF
GO
SET IDENTITY_INSERT [dbo].[ingredient_lots] ON 

INSERT [dbo].[ingredient_lots] ([lot_id], [ingredient_id], [import_date], [expiry_date], [remaining_quantity], [supplier_id], [is_deleted]) VALUES (1, 1, CAST(N'2026-04-28T15:36:57.0000000' AS DateTime2), CAST(N'2026-05-28' AS Date), CAST(5.400 AS Decimal(18, 3)), 2, 0)
INSERT [dbo].[ingredient_lots] ([lot_id], [ingredient_id], [import_date], [expiry_date], [remaining_quantity], [supplier_id], [is_deleted]) VALUES (2, 1, CAST(N'2026-04-28T15:36:57.0000000' AS DateTime2), CAST(N'2026-06-28' AS Date), CAST(50.000 AS Decimal(18, 3)), 2, 0)
INSERT [dbo].[ingredient_lots] ([lot_id], [ingredient_id], [import_date], [expiry_date], [remaining_quantity], [supplier_id], [is_deleted]) VALUES (3, 1, CAST(N'2026-04-28T15:36:57.0000000' AS DateTime2), CAST(N'2026-07-28' AS Date), CAST(50.000 AS Decimal(18, 3)), 2, 0)
SET IDENTITY_INSERT [dbo].[ingredient_lots] OFF
GO
SET IDENTITY_INSERT [dbo].[ingredients] ON 

INSERT [dbo].[ingredients] ([ingredient_id], [ingredient_name], [origin], [storage_condition], [unit_id], [price_per_unit], [is_active]) VALUES (1, N'Sugar', N'Bien Hoa', N'Dry', 1, CAST(20000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[ingredients] ([ingredient_id], [ingredient_name], [origin], [storage_condition], [unit_id], [price_per_unit], [is_active]) VALUES (2, N'Cocoa Powder', N'Belgium', N'Dry', 1, CAST(300000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[ingredients] ([ingredient_id], [ingredient_name], [origin], [storage_condition], [unit_id], [price_per_unit], [is_active]) VALUES (3, N'Strawberry', N'Dalat', N'Chilled', 1, CAST(150000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[issue_request_details] ON 

INSERT [dbo].[issue_request_details] ([detail_id], [request_id], [product_name], [quantity_requested]) VALUES (1, 1, N'Matcha Ice Cream', CAST(34.00 AS Decimal(18, 2)))
INSERT [dbo].[issue_request_details] ([detail_id], [request_id], [product_name], [quantity_requested]) VALUES (2, 2, N'Matcha Ice Cream', CAST(23.00 AS Decimal(18, 2)))
INSERT [dbo].[issue_request_details] ([detail_id], [request_id], [product_name], [quantity_requested]) VALUES (3, 3, N'Matcha Ice Cream', CAST(23.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[issue_request_details] OFF
GO
SET IDENTITY_INSERT [dbo].[issue_requests] ON 

INSERT [dbo].[issue_requests] ([request_id], [customer_name], [customer_address], [customer_phone], [request_date], [status], [created_by], [notes]) VALUES (1, N'abc', NULL, NULL, CAST(N'2026-04-30T07:49:31.947' AS DateTime), N'Approved', NULL, NULL)
INSERT [dbo].[issue_requests] ([request_id], [customer_name], [customer_address], [customer_phone], [request_date], [status], [created_by], [notes]) VALUES (2, N'abc', NULL, NULL, CAST(N'2026-04-30T08:27:40.650' AS DateTime), N'Approved', NULL, NULL)
INSERT [dbo].[issue_requests] ([request_id], [customer_name], [customer_address], [customer_phone], [request_date], [status], [created_by], [notes]) VALUES (3, N'abc', NULL, NULL, CAST(N'2026-04-30T08:27:46.683' AS DateTime), N'Rejected', NULL, NULL)
SET IDENTITY_INSERT [dbo].[issue_requests] OFF
GO
SET IDENTITY_INSERT [dbo].[production_orders] ON 

INSERT [dbo].[production_orders] ([production_order_id], [ice_cream_id], [planned_output_kg], [created_by], [created_at], [order_status], [note]) VALUES (1, 1, CAST(100.000 AS Decimal(18, 3)), NULL, CAST(N'2026-04-28T15:44:37.0000000' AS DateTime2), N'finished', N'Order 01')
INSERT [dbo].[production_orders] ([production_order_id], [ice_cream_id], [planned_output_kg], [created_by], [created_at], [order_status], [note]) VALUES (2, 1, CAST(150.000 AS Decimal(18, 3)), NULL, CAST(N'2026-04-28T15:44:37.0000000' AS DateTime2), N'finished', N'Order 06')
INSERT [dbo].[production_orders] ([production_order_id], [ice_cream_id], [planned_output_kg], [created_by], [created_at], [order_status], [note]) VALUES (3, 2, CAST(120.000 AS Decimal(18, 3)), NULL, CAST(N'2026-04-28T15:44:37.0000000' AS DateTime2), N'finished', N'Order 02')
SET IDENTITY_INSERT [dbo].[production_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[production_stages] ON 

INSERT [dbo].[production_stages] ([stage_id], [stage_name], [sequence_order], [standard_time_minutes], [is_proportional], [planned_duration_seconds]) VALUES (1, N'Mixing', 1, CAST(30.00 AS Decimal(10, 2)), 1, NULL)
INSERT [dbo].[production_stages] ([stage_id], [stage_name], [sequence_order], [standard_time_minutes], [is_proportional], [planned_duration_seconds]) VALUES (2, N'Homogenization', 2, CAST(20.00 AS Decimal(10, 2)), 1, NULL)
INSERT [dbo].[production_stages] ([stage_id], [stage_name], [sequence_order], [standard_time_minutes], [is_proportional], [planned_duration_seconds]) VALUES (3, N'Pasteurization', 3, CAST(15.00 AS Decimal(10, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[production_stages] OFF
GO
SET IDENTITY_INSERT [dbo].[production_tracking] ON 

INSERT [dbo].[production_tracking] ([tracking_id], [production_order_id], [stage_id], [status], [actual_start_time], [actual_end_time], [actual_quantity], [note]) VALUES (1, 5, 1, N'completed', CAST(N'2026-04-28T17:53:46.493' AS DateTime), CAST(N'2026-04-28T18:02:22.350' AS DateTime), CAST(45.000 AS Decimal(18, 3)), N'')
INSERT [dbo].[production_tracking] ([tracking_id], [production_order_id], [stage_id], [status], [actual_start_time], [actual_end_time], [actual_quantity], [note]) VALUES (2, 5, 2, N'completed', CAST(N'2026-04-28T18:02:26.053' AS DateTime), CAST(N'2026-04-28T18:02:35.133' AS DateTime), CAST(45.000 AS Decimal(18, 3)), N'')
INSERT [dbo].[production_tracking] ([tracking_id], [production_order_id], [stage_id], [status], [actual_start_time], [actual_end_time], [actual_quantity], [note]) VALUES (3, 5, 3, N'completed', CAST(N'2026-04-29T12:26:53.650' AS DateTime), CAST(N'2026-04-29T12:26:57.610' AS DateTime), CAST(45.000 AS Decimal(18, 3)), N'')
GO
SET IDENTITY_INSERT [dbo].[production_tracking] OFF
GO
SET IDENTITY_INSERT [dbo].[recipes] ON 

INSERT [dbo].[recipes] ([recipe_id], [ice_cream_id], [ingredient_id], [quantity_per_kg]) VALUES (1, 1, 14, CAST(0.500 AS Decimal(18, 3)))
INSERT [dbo].[recipes] ([recipe_id], [ice_cream_id], [ingredient_id], [quantity_per_kg]) VALUES (2, 1, 1, CAST(0.100 AS Decimal(18, 3)))
INSERT [dbo].[recipes] ([recipe_id], [ice_cream_id], [ingredient_id], [quantity_per_kg]) VALUES (3, 1, 15, CAST(0.200 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[recipes] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (1, N'Admin')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (2, N'Production Supervisor')
INSERT [dbo].[roles] ([role_id], [role_name]) VALUES (5, N'Salesman')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[suppliers] ON 

INSERT [dbo].[suppliers] ([supplier_id], [supplier_name], [phone], [email], [address], [is_active]) VALUES (1, N'PureDairy Solutions', N'0901000001', N'sales@puredairy.com', N'London', 1)
INSERT [dbo].[suppliers] ([supplier_id], [supplier_name], [phone], [email], [address], [is_active]) VALUES (2, N'Alpine Milk Co', N'0901000002', N'contact@alpine.com', N'Swiss', 1)
INSERT [dbo].[suppliers] ([supplier_id], [supplier_name], [phone], [email], [address], [is_active]) VALUES (3, N'SweetHarvest Sugar', N'0901000003', N'info@sugar.com', N'Florida', 1)
SET IDENTITY_INSERT [dbo].[suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[units] ON 

INSERT [dbo].[units] ([unit_id], [unit_name]) VALUES (1, N'kg')
INSERT [dbo].[units] ([unit_id], [unit_name]) VALUES (2, N'liter')
INSERT [dbo].[units] ([unit_id], [unit_name]) VALUES (3, N'pcs')
SET IDENTITY_INSERT [dbo].[units] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [username], [email], [password_hash], [role_id], [must_change_password], [is_active]) VALUES (1, N'admin', N'nghvukt3@gmail.com', N'abc123', 1, 0, 1)
INSERT [dbo].[users] ([user_id], [username], [email], [password_hash], [role_id], [must_change_password], [is_active]) VALUES (2, N'harry', N'harryvnsg@gmail.com', N'abc123', 2, 0, 1)
INSERT [dbo].[users] ([user_id], [username], [email], [password_hash], [role_id], [must_change_password], [is_active]) VALUES (3, N'maitue', N'maitue201@gmail.com', N'abc123', 3, 0, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ_finished_stock_receipts_request]    Script Date: 30-Apr-26 10:22:44 AM ******/
ALTER TABLE [dbo].[finished_stock_receipts] ADD  CONSTRAINT [UQ_finished_stock_receipts_request] UNIQUE NONCLUSTERED 
(
	[finished_stock_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_finished_stock_requests_order]    Script Date: 30-Apr-26 10:22:44 AM ******/
ALTER TABLE [dbo].[finished_stock_requests] ADD  CONSTRAINT [UQ_finished_stock_requests_order] UNIQUE NONCLUSTERED 
(
	[production_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ingredient_export_receipts_request]    Script Date: 30-Apr-26 10:22:44 AM ******/
ALTER TABLE [dbo].[ingredient_export_receipts] ADD  CONSTRAINT [UQ_ingredient_export_receipts_request] UNIQUE NONCLUSTERED 
(
	[ingredient_export_request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ingredient_export_request_details_request_ingredient]    Script Date: 30-Apr-26 10:22:44 AM ******/
ALTER TABLE [dbo].[ingredient_export_request_details] ADD  CONSTRAINT [UQ_ingredient_export_request_details_request_ingredient] UNIQUE NONCLUSTERED 
(
	[ingredient_export_request_id] ASC,
	[ingredient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ingredient_export_requests_order]    Script Date: 30-Apr-26 10:22:44 AM ******/
ALTER TABLE [dbo].[ingredient_export_requests] ADD  CONSTRAINT [UQ_ingredient_export_requests_order] UNIQUE NONCLUSTERED 
(
	[production_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ingredie__9D97EE5150077F4D]    Script Date: 30-Apr-26 10:22:44 AM ******/
ALTER TABLE [dbo].[ingredients] ADD UNIQUE NONCLUSTERED 
(
	[ingredient_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_recipes_icecream_ingredient]    Script Date: 30-Apr-26 10:22:44 AM ******/
ALTER TABLE [dbo].[recipes] ADD  CONSTRAINT [UQ_recipes_icecream_ingredient] UNIQUE NONCLUSTERED 
(
	[ice_cream_id] ASC,
	[ingredient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__783254B138C775B3]    Script Date: 30-Apr-26 10:22:44 AM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572FABEE9D2]    Script Date: 30-Apr-26 10:22:44 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dispatch_history] ADD  DEFAULT (getdate()) FOR [dispatch_date]
GO
ALTER TABLE [dbo].[dispatch_history] ADD  DEFAULT ('Qualified') FOR [quality_status]
GO
ALTER TABLE [dbo].[finished_inventory] ADD  CONSTRAINT [DF_finished_inventory_quantity]  DEFAULT ((0)) FOR [quantity_on_hand]
GO
ALTER TABLE [dbo].[finished_inventory] ADD  CONSTRAINT [DF_finished_inventory_last_updated]  DEFAULT (sysdatetime()) FOR [last_updated]
GO
ALTER TABLE [dbo].[finished_product_inventory] ADD  DEFAULT ((0)) FOR [current_quantity]
GO
ALTER TABLE [dbo].[finished_stock_receipts] ADD  CONSTRAINT [DF_finished_stock_receipts_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[finished_stock_requests] ADD  CONSTRAINT [DF_finished_stock_requests_requested_at]  DEFAULT (sysdatetime()) FOR [requested_at]
GO
ALTER TABLE [dbo].[finished_stock_requests] ADD  CONSTRAINT [DF_finished_stock_requests_status]  DEFAULT (N'pending') FOR [request_status]
GO
ALTER TABLE [dbo].[ice_creams] ADD  CONSTRAINT [DF_ice_creams_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[ingredient_export_receipts] ADD  CONSTRAINT [DF_ingredient_export_receipts_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[ingredient_export_receipts] ADD  CONSTRAINT [DF_ingredient_export_receipts_status]  DEFAULT (N'pending') FOR [receipt_status]
GO
ALTER TABLE [dbo].[ingredient_export_requests] ADD  CONSTRAINT [DF_ingredient_export_requests_requested_at]  DEFAULT (sysdatetime()) FOR [requested_at]
GO
ALTER TABLE [dbo].[ingredient_export_requests] ADD  CONSTRAINT [DF_ingredient_export_requests_status]  DEFAULT (N'pending') FOR [request_status]
GO
ALTER TABLE [dbo].[ingredient_lots] ADD  DEFAULT (sysdatetime()) FOR [import_date]
GO
ALTER TABLE [dbo].[ingredient_lots] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[ingredients] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[issue_requests] ADD  DEFAULT (getdate()) FOR [request_date]
GO
ALTER TABLE [dbo].[issue_requests] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[product_issue_details] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[product_issue_notes] ADD  DEFAULT (N'Chờ duyệt') FOR [status]
GO
ALTER TABLE [dbo].[product_issue_notes] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[production_orders] ADD  CONSTRAINT [DF_production_orders_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[production_orders] ADD  CONSTRAINT [DF_production_orders_status]  DEFAULT (N'draft') FOR [order_status]
GO
ALTER TABLE [dbo].[production_stages] ADD  DEFAULT ((0)) FOR [standard_time_minutes]
GO
ALTER TABLE [dbo].[production_stages] ADD  DEFAULT ((0)) FOR [is_proportional]
GO
ALTER TABLE [dbo].[production_stages] ADD  DEFAULT ((60)) FOR [planned_duration_seconds]
GO
ALTER TABLE [dbo].[production_tracking] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[production_tracking] ADD  DEFAULT ((0)) FOR [actual_quantity]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [must_change_password]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[dispatch_history]  WITH CHECK ADD  CONSTRAINT [FK_HistoryRequest] FOREIGN KEY([request_id])
REFERENCES [dbo].[issue_requests] ([request_id])
GO
ALTER TABLE [dbo].[dispatch_history] CHECK CONSTRAINT [FK_HistoryRequest]
GO
ALTER TABLE [dbo].[finished_inventory]  WITH CHECK ADD  CONSTRAINT [FK_finished_inventory_ice_creams] FOREIGN KEY([ice_cream_id])
REFERENCES [dbo].[ice_creams] ([ice_cream_id])
GO
ALTER TABLE [dbo].[finished_inventory] CHECK CONSTRAINT [FK_finished_inventory_ice_creams]
GO
ALTER TABLE [dbo].[finished_stock_receipts]  WITH CHECK ADD  CONSTRAINT [FK_finished_stock_receipts_requests] FOREIGN KEY([finished_stock_request_id])
REFERENCES [dbo].[finished_stock_requests] ([finished_stock_request_id])
GO
ALTER TABLE [dbo].[finished_stock_receipts] CHECK CONSTRAINT [FK_finished_stock_receipts_requests]
GO
ALTER TABLE [dbo].[finished_stock_receipts]  WITH CHECK ADD  CONSTRAINT [FK_finished_stock_receipts_users] FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[finished_stock_receipts] CHECK CONSTRAINT [FK_finished_stock_receipts_users]
GO
ALTER TABLE [dbo].[finished_stock_requests]  WITH CHECK ADD  CONSTRAINT [FK_finished_stock_requests_orders] FOREIGN KEY([production_order_id])
REFERENCES [dbo].[production_orders] ([production_order_id])
GO
ALTER TABLE [dbo].[finished_stock_requests] CHECK CONSTRAINT [FK_finished_stock_requests_orders]
GO
ALTER TABLE [dbo].[finished_stock_requests]  WITH CHECK ADD  CONSTRAINT [FK_finished_stock_requests_users] FOREIGN KEY([requested_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[finished_stock_requests] CHECK CONSTRAINT [FK_finished_stock_requests_users]
GO
ALTER TABLE [dbo].[ingredient_export_receipt_details]  WITH CHECK ADD  CONSTRAINT [FK_ingredient_export_receipt_details_lots] FOREIGN KEY([lot_id])
REFERENCES [dbo].[ingredient_lots] ([lot_id])
GO
ALTER TABLE [dbo].[ingredient_export_receipt_details] CHECK CONSTRAINT [FK_ingredient_export_receipt_details_lots]
GO
ALTER TABLE [dbo].[ingredient_export_receipt_details]  WITH CHECK ADD  CONSTRAINT [FK_ingredient_export_receipt_details_receipts] FOREIGN KEY([ingredient_export_receipt_id])
REFERENCES [dbo].[ingredient_export_receipts] ([ingredient_export_receipt_id])
GO
ALTER TABLE [dbo].[ingredient_export_receipt_details] CHECK CONSTRAINT [FK_ingredient_export_receipt_details_receipts]
GO
ALTER TABLE [dbo].[ingredient_export_receipt_details]  WITH CHECK ADD  CONSTRAINT [FK_ingredient_export_receipt_details_request_details] FOREIGN KEY([ingredient_export_request_detail_id])
REFERENCES [dbo].[ingredient_export_request_details] ([ingredient_export_request_detail_id])
GO
ALTER TABLE [dbo].[ingredient_export_receipt_details] CHECK CONSTRAINT [FK_ingredient_export_receipt_details_request_details]
GO
ALTER TABLE [dbo].[ingredient_export_receipts]  WITH CHECK ADD  CONSTRAINT [FK_ingredient_export_receipts_requests] FOREIGN KEY([ingredient_export_request_id])
REFERENCES [dbo].[ingredient_export_requests] ([ingredient_export_request_id])
GO
ALTER TABLE [dbo].[ingredient_export_receipts] CHECK CONSTRAINT [FK_ingredient_export_receipts_requests]
GO
ALTER TABLE [dbo].[ingredient_export_receipts]  WITH CHECK ADD  CONSTRAINT [FK_ingredient_export_receipts_users] FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[ingredient_export_receipts] CHECK CONSTRAINT [FK_ingredient_export_receipts_users]
GO
ALTER TABLE [dbo].[ingredient_export_request_details]  WITH CHECK ADD  CONSTRAINT [FK_ingredient_export_request_details_ingredients] FOREIGN KEY([ingredient_id])
REFERENCES [dbo].[ingredients] ([ingredient_id])
GO
ALTER TABLE [dbo].[ingredient_export_request_details] CHECK CONSTRAINT [FK_ingredient_export_request_details_ingredients]
GO
ALTER TABLE [dbo].[ingredient_export_request_details]  WITH CHECK ADD  CONSTRAINT [FK_ingredient_export_request_details_requests] FOREIGN KEY([ingredient_export_request_id])
REFERENCES [dbo].[ingredient_export_requests] ([ingredient_export_request_id])
GO
ALTER TABLE [dbo].[ingredient_export_request_details] CHECK CONSTRAINT [FK_ingredient_export_request_details_requests]
GO
ALTER TABLE [dbo].[ingredient_export_requests]  WITH CHECK ADD  CONSTRAINT [FK_ingredient_export_requests_orders] FOREIGN KEY([production_order_id])
REFERENCES [dbo].[production_orders] ([production_order_id])
GO
ALTER TABLE [dbo].[ingredient_export_requests] CHECK CONSTRAINT [FK_ingredient_export_requests_orders]
GO
ALTER TABLE [dbo].[ingredient_export_requests]  WITH CHECK ADD  CONSTRAINT [FK_ingredient_export_requests_users] FOREIGN KEY([requested_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[ingredient_export_requests] CHECK CONSTRAINT [FK_ingredient_export_requests_users]
GO
ALTER TABLE [dbo].[ingredient_lots]  WITH CHECK ADD  CONSTRAINT [FK_lots_ing] FOREIGN KEY([ingredient_id])
REFERENCES [dbo].[ingredients] ([ingredient_id])
GO
ALTER TABLE [dbo].[ingredient_lots] CHECK CONSTRAINT [FK_lots_ing]
GO
ALTER TABLE [dbo].[ingredient_lots]  WITH CHECK ADD  CONSTRAINT [FK_lots_supp] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[ingredient_lots] CHECK CONSTRAINT [FK_lots_supp]
GO
ALTER TABLE [dbo].[ingredients]  WITH CHECK ADD  CONSTRAINT [FK_ingredients_units] FOREIGN KEY([unit_id])
REFERENCES [dbo].[units] ([unit_id])
GO
ALTER TABLE [dbo].[ingredients] CHECK CONSTRAINT [FK_ingredients_units]
GO
ALTER TABLE [dbo].[issue_request_details]  WITH CHECK ADD  CONSTRAINT [FK_RequestDetail] FOREIGN KEY([request_id])
REFERENCES [dbo].[issue_requests] ([request_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[issue_request_details] CHECK CONSTRAINT [FK_RequestDetail]
GO
ALTER TABLE [dbo].[product_issue_details]  WITH CHECK ADD FOREIGN KEY([ice_cream_id])
REFERENCES [dbo].[ice_creams] ([ice_cream_id])
GO
ALTER TABLE [dbo].[product_issue_details]  WITH CHECK ADD FOREIGN KEY([note_id])
REFERENCES [dbo].[product_issue_notes] ([note_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_issue_notes]  WITH CHECK ADD FOREIGN KEY([saleman_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD  CONSTRAINT [FK_production_orders_ice_creams] FOREIGN KEY([ice_cream_id])
REFERENCES [dbo].[ice_creams] ([ice_cream_id])
GO
ALTER TABLE [dbo].[production_orders] CHECK CONSTRAINT [FK_production_orders_ice_creams]
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD  CONSTRAINT [FK_production_orders_users] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[production_orders] CHECK CONSTRAINT [FK_production_orders_users]
GO
ALTER TABLE [dbo].[production_tracking]  WITH CHECK ADD  CONSTRAINT [FK_Tracking_Order] FOREIGN KEY([production_order_id])
REFERENCES [dbo].[production_orders] ([production_order_id])
GO
ALTER TABLE [dbo].[production_tracking] CHECK CONSTRAINT [FK_Tracking_Order]
GO
ALTER TABLE [dbo].[production_tracking]  WITH CHECK ADD  CONSTRAINT [FK_Tracking_Stage] FOREIGN KEY([stage_id])
REFERENCES [dbo].[production_stages] ([stage_id])
GO
ALTER TABLE [dbo].[production_tracking] CHECK CONSTRAINT [FK_Tracking_Stage]
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD  CONSTRAINT [FK_recipes_ice_creams] FOREIGN KEY([ice_cream_id])
REFERENCES [dbo].[ice_creams] ([ice_cream_id])
GO
ALTER TABLE [dbo].[recipes] CHECK CONSTRAINT [FK_recipes_ice_creams]
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD  CONSTRAINT [FK_recipes_ingredients] FOREIGN KEY([ingredient_id])
REFERENCES [dbo].[ingredients] ([ingredient_id])
GO
ALTER TABLE [dbo].[recipes] CHECK CONSTRAINT [FK_recipes_ingredients]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
ALTER TABLE [dbo].[finished_inventory]  WITH CHECK ADD  CONSTRAINT [CK_finished_inventory_quantity_on_hand] CHECK  (([quantity_on_hand]>=(0)))
GO
ALTER TABLE [dbo].[finished_inventory] CHECK CONSTRAINT [CK_finished_inventory_quantity_on_hand]
GO
ALTER TABLE [dbo].[finished_stock_receipts]  WITH CHECK ADD  CONSTRAINT [CK_finished_stock_receipts_received_quantity] CHECK  (([received_quantity]>(0)))
GO
ALTER TABLE [dbo].[finished_stock_receipts] CHECK CONSTRAINT [CK_finished_stock_receipts_received_quantity]
GO
ALTER TABLE [dbo].[finished_stock_requests]  WITH CHECK ADD  CONSTRAINT [CK_finished_stock_requests_requested_quantity] CHECK  (([requested_quantity]>(0)))
GO
ALTER TABLE [dbo].[finished_stock_requests] CHECK CONSTRAINT [CK_finished_stock_requests_requested_quantity]
GO
ALTER TABLE [dbo].[finished_stock_requests]  WITH CHECK ADD  CONSTRAINT [CK_finished_stock_requests_status] CHECK  (([request_status]=N'completed' OR [request_status]=N'rejected' OR [request_status]=N'approved' OR [request_status]=N'pending'))
GO
ALTER TABLE [dbo].[finished_stock_requests] CHECK CONSTRAINT [CK_finished_stock_requests_status]
GO
ALTER TABLE [dbo].[ingredient_export_receipt_details]  WITH CHECK ADD  CONSTRAINT [CK_ingredient_export_receipt_details_issued_quantity] CHECK  (([issued_quantity]>(0)))
GO
ALTER TABLE [dbo].[ingredient_export_receipt_details] CHECK CONSTRAINT [CK_ingredient_export_receipt_details_issued_quantity]
GO
ALTER TABLE [dbo].[ingredient_export_receipts]  WITH CHECK ADD  CONSTRAINT [CK_ingredient_export_receipts_status] CHECK  (([receipt_status]=N'completed' OR [receipt_status]=N'rejected' OR [receipt_status]=N'approved' OR [receipt_status]=N'pending'))
GO
ALTER TABLE [dbo].[ingredient_export_receipts] CHECK CONSTRAINT [CK_ingredient_export_receipts_status]
GO
ALTER TABLE [dbo].[ingredient_export_request_details]  WITH CHECK ADD  CONSTRAINT [CK_ingredient_export_request_details_required_quantity] CHECK  (([required_quantity]>(0)))
GO
ALTER TABLE [dbo].[ingredient_export_request_details] CHECK CONSTRAINT [CK_ingredient_export_request_details_required_quantity]
GO
ALTER TABLE [dbo].[ingredient_export_requests]  WITH CHECK ADD  CONSTRAINT [CK_ingredient_export_requests_status] CHECK  (([request_status]=N'completed' OR [request_status]=N'rejected' OR [request_status]=N'approved' OR [request_status]=N'pending'))
GO
ALTER TABLE [dbo].[ingredient_export_requests] CHECK CONSTRAINT [CK_ingredient_export_requests_status]
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD  CONSTRAINT [CK_production_orders_planned_output_kg] CHECK  (([planned_output_kg]>(0)))
GO
ALTER TABLE [dbo].[production_orders] CHECK CONSTRAINT [CK_production_orders_planned_output_kg]
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD  CONSTRAINT [CK_production_orders_status] CHECK  (([order_status]=N'cancelled' OR [order_status]=N'finished' OR [order_status]=N'in_progress' OR [order_status]=N'waiting_ingredient' OR [order_status]=N'draft'))
GO
ALTER TABLE [dbo].[production_orders] CHECK CONSTRAINT [CK_production_orders_status]
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD  CONSTRAINT [CK_recipes_quantity_per_kg] CHECK  (([quantity_per_kg]>(0)))
GO
ALTER TABLE [dbo].[recipes] CHECK CONSTRAINT [CK_recipes_quantity_per_kg]
GO
USE [master]
GO
